.u-section-1 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-1 .u-text-1 {
  width: 254px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 544px 0 523px;
}

.u-section-1 .u-image-1 {
  width: 273px;
  height: 121px;
  margin: 26px auto 0 294px;
}

.u-section-1 .u-image-2 {
  width: 247px;
  height: 121px;
  margin: -121px auto 0 599px;
}

.u-section-1 .u-image-3 {
  width: 162px;
  height: 169px;
  margin: 15px auto 0 99px;
}

.u-section-1 .u-image-4 {
  width: 162px;
  height: 162px;
  margin: -164px auto 0 292px;
}

.u-section-1 .u-image-5 {
  width: 164px;
  height: 164px;
  margin: -162px auto 0;
}

.u-section-1 .u-image-6 {
  width: 162px;
  height: 162px;
  margin: -166px 295px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 164px;
  height: 164px;
  margin: -155px 99px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 162px;
  height: 162px;
  margin: 21px auto 0 99px;
}

.u-section-1 .u-image-9 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0 292px;
}

.u-section-1 .u-image-10 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0;
}

.u-section-1 .u-image-11 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0 683px;
}

.u-section-1 .u-image-12 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0 879px;
}

.u-section-1 .u-image-13 {
  width: 162px;
  height: 162px;
  margin: 26px auto 0 683px;
}

.u-section-1 .u-image-14 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0 291px;
}

.u-section-1 .u-image-15 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0 99px;
}

.u-section-1 .u-image-16 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0;
}

.u-section-1 .u-image-17 {
  width: 162px;
  height: 162px;
  margin: -162px auto 0 879px;
}

.u-section-1 .u-image-18 {
  width: 162px;
  height: 162px;
  margin: 26px auto 60px 99px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 444px;
    margin-left: 423px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 194px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 499px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 50px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 243px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 439px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 634px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 20px;
    margin-left: 729px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-17 {
    margin-left: 778px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1921px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 334px;
    margin-left: 313px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-left: 208px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 16px;
    margin-left: 221px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 18px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -165px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -164px;
    margin-left: 499px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 216px;
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -162px;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: -350px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-9 {
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-top: 25px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: 30px;
    margin-right: 57px;
    margin-left: auto;
  }

  .u-section-1 .u-image-13 {
    margin-top: 25px;
    margin-right: 57px;
    margin-left: auto;
  }

  .u-section-1 .u-image-14 {
    margin-left: 58px;
  }

  .u-section-1 .u-image-15 {
    margin-top: -349px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-17 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-image-18 {
    margin-top: 31px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 244px;
    margin-left: 223px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: 160px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 29px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 258px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 347px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 20px;
    margin-left: 329px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 329px;
  }

  .u-section-1 .u-image-12 {
    margin-left: 329px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-16 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3560px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 144px;
    margin-left: 123px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 22px;
    margin-left: 176px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: 31px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-12 {
    margin-right: auto;
    margin-left: 91px;
  }

  .u-section-1 .u-image-13 {
    margin-right: auto;
    margin-left: 91px;
  }

  .u-section-1 .u-image-14 {
    margin-left: auto;
  }

  .u-section-1 .u-image-15 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-1 .u-image-17 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 22px;
  }
}